[
  {
    "name": "Test ptr+ptr",
    "files": ["ptrptr.i"],        // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I.",   // Include all the compilation command options like if you were to compile the test
    "main": "main"              // Specify the entry point function for the test (optional, default is "main")
  },
  {
    "name": "Test alignemnt without assumption",
    "files": ["alignment.c"],        // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I.",   // Include all the compilation command options like if you were to compile the test
    "main": "main"              // Specify the entry point function for the test (optional, default is "main")
  },
  {
    "name": "Test alignemnt using -address-alignment",
    "files": ["alignment.c"],        // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I.",   // Include all the compilation command options like if you were to compile the test
    "main": "main",             // Specify the entry point function for the test (optional, default is "main")
    "raw_options": {
      "-address-alignment": "0x10000"
      // ,
    }
  },
  {
    "name": "Test SA",
    "files": ["sa.c"],        // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I.",   // Include all the compilation command options like if you were to compile the test
    "main": "main",              // Specify the entry point function for the test (optional, default is "main")
    "sa": true
  },
  {
    "name": "Test non-determinism",
    "files": ["nd.c"],        // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I.",   // Include all the compilation command options like if you were to compile the test
    "main": "main"              // Specify the entry point function for the test (optional, default is "main")
    "raw_options": {
      "-val-malloc-returns-null": false
  }  

  // ,
]
